/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    dhslab/cle-soma Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input                = null
    input_spreadsheet    = null
    demux_samplesheet    = null
    previous_fastq_dir   = null
    illumina_rundir      = null

    outdir               = "./results"
    demux_outdir         = "/storage3/fs1/path-gmp-cgl/Active/mopath/SOMA/demux_fastq"
    batch_name           = null

    data_transfer        = false
    rm_rundir            = false
    xfer_label           = "soma_nextflow"

    queue                = "gtac-mgi"
    user_group           = ""
    job_group_name       = "/cle/wdl/haloplex"

    dragen_reference     = "/storage3/fs1/path-gmp-cgl/Active/mopath/reference/dragen_hg38v4.3.6"
    reference            = "/storage3/fs1/path-gmp-cgl/Active/mopath/reference/hg38/sequence/hg38_mgi_patch.fa"
    reference_dict       = "/storage3/fs1/path-gmp-cgl/Active/mopath/reference/hg38/sequence/hg38_mgi_patch.dict"

    coverage_bed         = "${projectDir}/assets/data/SOMA.all.bed"
    haplotect_bed        = "${projectDir}/assets/data/SOMA.haplotect.bed"
    qc_script            = "${projectDir}/bin/QC_metrics.py"
    cov_levels           = "100,500,1000,1500"
    read_family_size     = 1

    dragen_container     = "docker.io/apldx/oracle8-dragen-4.3.6"
    haplotect_container  = "abelhj/haplotect:0.3"
    pandas_container     = "catgumag/pandas-scibioxl:20220107"
    transfer_container   = "mgibio/data-transfer-aws:v1"
    ubuntu_container     = "ubuntu:xenial"

    publish_dir_mode     = 'copy'

    help                 = false
    version              = false
    validate_params      = true
}

plugins {
    id 'nf-validation@1.1.3'
}

process {
    withName: 'PREPARE_SAMPLES' {
        cpus   = 1
        memory = '4.GB'
    }
    withName: 'RUN_HAPLOTECT' {
        cpus   = 1
        memory = '8.GB'
    }
    withName: 'GATHER_SAMPLE_FILES' {
        cpus   = 1
        memory = '2.GB'
    }
    withName: 'BATCH_QC' {
        cpus   = 1
        memory = '4.GB'
    }
    withName: 'DATA_TRANSFER' {
        cpus   = 1
        memory = '8.GB'
    }
    withName: 'REMOVE_RUNDIR' {
        cpus   = 1
        memory = '2.GB'
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled       = true
        singularity.enabled  = false
        conda.enabled        = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled  = true
        docker.enabled       = false
        conda.enabled        = false
        singularity.autoMounts = true
    }
    apptainer {
        apptainer.enabled    = true
        docker.enabled       = false
        conda.enabled        = false
        apptainer.autoMounts = true
    }
    ris {
        process {
            executor       = 'lsf'
            queue          = params.queue
            clusterOptions = { "${params.user_group ? "-G ${params.user_group}" : ""} -g ${params.job_group_name}" }
        }
    }
    dragen2 {
        process {
            withLabel:dragen {
                queue  = 'dragen-2'
                cpus   = 20
                memory = '200.GB'
            }
        }
    }
    dragen3 {
        process {
            withLabel:dragen {
                queue  = 'dragen-3'
                cpus   = 20
                memory = '200.GB'
            }
        }
    }
    dragen4 {
        process {
            withLabel:dragen {
                queue  = 'dragen-4'
                cpus   = 30
                memory = '300.GB'
            }
        }
    }
    dragen5 {
        process {
            withLabel:dragen {
                queue  = 'dragen-5'
                cpus   = 30
                memory = '400.GB'
            }
        }
    }
}
