process {
    withName: 'DRAGEN_DEMULTIPLEX' {
        publishDir = [
            [
                path   : { "${params.outdir}/" },
                mode   : params.publish_dir_mode,
                pattern: 'Reports'
            ]
        ]
    }

    withName: 'DRAGEN_ALIGNMENT' {
        publishDir = [
            path  : { "${params.outdir}/${meta.subdir}/dragen" },
            mode  : params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'RUN_HAPLOTECT' {
        publishDir = [
            path  : { "${params.outdir}/${meta.subdir}" },
            mode  : params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'BATCH_QC' {
        publishDir = [
            path  : { "${params.outdir}/" },
            mode  : params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
}
